doctype html
html(lang="en")
  head
    title Mr. Coffee Scheduling Website
    link(rel='stylesheet', href='/css/main.css')
  body
    div.header
      h1.title Mr. Coffee Scheduling Website
      nav 
        ul
          li
            a(href="/") All Schedules
          li
            a(href="/new") Add Schedule

    div.main-content
      block content