extends ../layout 

block content 
  h2 Add New User 
  form(action="/users" method="POST")
    div
      label(for="firstname") First Name: 
      input(id="firstname" type="text" name="firstname")
    div
      label(for="lastname") Last Name: 
      input(id="lastname" type="text" name="lastname")
    div
      label(for="email") Email: 
      input(id="email" type="text" name="email")
    div
      label(for="password") Password: 
      input(id="password" type="text" name="password")
    button(type="submit") Submit