extends ../layout 

block content 
  h2 Add New User 
  form(class="new-user" action="/users" method="POST")
    div
      label(for="firstname") First Name: 
      input(id="firstname" type="text" name="firstname" required)
      p.alert.firstname Not valid
    div
      label(for="lastname") Last Name: 
      input(id="lastname" type="text" name="lastname" required)
      p.alert.lastname Not valid
    div
      label(for="email") Email: 
      input(id="email" type="email" name="email" required)
      p.alert.email Not valid
    div
      label(for="password") Password:
      p.form-description Must contain at least at least 6 characters, 1 uppercase letter, 1 lowercase letter, and 1 number.
      input(id="password" type="password" name="password" required)
      p.alert.password Not valid
    button(type="submit") Submit
  script(src="/js/form-validation.js")