extends ../layout 

block content 
  h2 Add New Schedule 
  form(action="/schedules" method="POST")
    div
      label(for="username") Username:
      input(id="username" name="username")
    div
      label(for="day") Day:
      input(id="day" list="days" name="day")
      datalist#days
        option(value="Monday")
        option(value="Tuesday")
        option(value="Wednesday")
        option(value="Thursday")
        option(value="Friday")
        option(value="Saturday")
        option(value="Sunday")
    div
      label(for="start_time") Start Time:
      input(id="start_time" type="text" name="start_time" placeholder="HH:MM")
    div
      label(for="end_time") End Time:
      input(id="end_time" type="text" name="end_time" placeholder="HH:MM")
    button(type="submit") Submit